*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Roboto;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header{
    display: flex;
    justify-content: center;

    background-color: #1F2937;
    padding: 10px;

}

.header-wrapper{
    display: flex;
    justify-content: space-between;

    width: 60vw;


}

.header-wrapper h1{
    flex: 1;
    color: #F9FAF8;
    font-size: 24px;
}

.header-wrapper .navbar ul{
    display: flex;
    list-style: none;

    font-size: 18px;
}

.navbar ul li{
    color: #E5E7EB;

}
